<!--Data binding-->
<!--Event binding-->
<!--Two way binding-->
<!--ngIf, ngFor-->
<h1 *ngIf="user.age >= 18">Hello {{user.name}}!</h1>
<p *ngIf="user.age < 18">You are too young to see this content!</p>
<button (click)="user.age = user.age - 1">-</button>
Age: {{user.age}}
<button (click)="user.age = user.age + 1">+</button>
<p>Name: {{user.name}}, Age: {{user.age}}</p>
<input type="text" [value]="user.name">
<br>
<button type="button" (click)="handler($event)">Click</button>
<br>
<input type="text" [ngModel]="user.name" (ngModelChange)="user.name = $event" />
<br>
<input type="text" [ngModel]="user.age" (ngModelChange)="user.age = $event" />
<br>
<ul>
    <li *ngFor="let u of users; index as idx; count as total; first as isFirst; last as isLast; even as isEven; odd as isOdd">
        <p>{{u.id}} - {{u.name}} - {{u.phone}}</p>
        <p>at index {{idx}} out of {{total}}</p>
        <p *ngIf="isEven">I'm even number</p>
        <p *ngIf="isOdd">I'm odd number</p>
        <p *ngIf="isFirst">I'm first</p>
        <p *ngIf="isLast">I'm last</p>
    </li>
</ul>
<button *ngFor="let tag of tags; last as isLast" [class.right-margin]="!isLast">{{tag}}</button>
<br>
<!--Class & style binding-->
<!--[class.name-class]-->
<!--[class="array"]-->
<!--[class]="object" {[name-class: string]: boolean}-->
<!--[class]="variable"-->
<!--[style.nameStyle]-->
<!--[style.name-style]-->
<!--[style.tenStyle.unit]-->
<!--[style]="object"-->
<!--[style.css-variable]-->
<button (click)="isDanger = !isDanger">Toggle Danger</button>
<br>
<button (click)="isWarning = !isWarning">Toggle Warning</button>
<div class="box" [class]="{'red-border': isDanger, 'yellow-background': isWarning}"></div>
<p [style.--text-color]="isDanger ? 'red' : 'blue'" [style]="{color: 'var(--text-color)', background: 'yellow', fontSize: '20px'}">Hello!</p>
<!--Input binding-->