<h1 *ngIf="user.age >= 18">Hello {{user.name}}!</h1>
<p *ngIf="user.age < 18">You are too young to see this content!</p>
<button (click)="user.age = user.age - 1">-</button>
Age: {{user.age}}
<button (click)="user.age = user.age + 1">+</button>
<p>Name: {{user.name}}, Age: {{user.age}}</p>
<input type="text" [value]="user.name">
<br>
<button type="button" (click)="handler($event)">Click</button>
<br>
<input type="text" [ngModel]="user.name" (ngModelChange)="user.name = $event" />
<br>
<input type="text" [ngModel]="user.age" (ngModelChange)="user.age = $event" />
<br>